.form {
    &__label {
        color: #757575;
    }

    &__input {
        width: 100%;
        margin-top: 0.5rem;
        border: 1px solid #c4c4c4;
        background-color: white;
        border-radius: 3px;
        padding: 0.825rem 1rem;
        font-size: 1rem;
        transition: 200ms linear;

        &.error {
            border-color: #ff5f37
        }
    }

    &__error {
        color: #ff5f37;
        font-size: 85%;
        display: inline-block;
        width: 100%;
    }

    &__group {
        width: 100%;
        margin-bottom: 2rem;
        display: block;
    }
}